<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>My Projects</title>
	<!--link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/-->
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="../resources/css/mypage_style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="mypage.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="projects.html">Projects</a>
        </li>

      </ul>
      <ul class="ml-auto">
        <li>
          <a class="navbar-brand" href="https://github.com/mattceriello"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="wordcenter">
        <h1>
          Projects
        </h1>
      </div>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="card">
              <div class="card-header">
                <div class="center">
                  <img src="https://hbomax-images.warnermediacdn.com/images/GVU2cggagzYNJjhsJATwo/tileburnedin?size=1280x720&partner=hbomaxcom&host=artist.api.cdn.hbo.com&w=1280" height="75px" />
                </div>
              </div>
              <div class="card-body">
                <h3>Game of thrones</h3>
                <p class="main">This is a Game of Thrones text adventure game in c++ with a mini map.</p>
                <button onclick="location.href='https://drive.google.com/drive/folders/1zepneZn6-g0RuPYeV-g_J_ibpjYpKMcZ?usp=sharing'" class="button" type="button" id="Button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                  Go to Project
                </button>
              </div>
              </div>
           </td>
           <td>
             <div class="card">
               <div class="card-header">
                 <div class="center">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg/1200px-Sudoku_Puzzle_by_L2G-20050714_standardized_layout.svg.png" height="75px" />
                </div>
               </div>
               <div class="card-body">
                 <h3>Sudoku Solver</h3>
                 <p class="main">This project is a sudoku solver that uses simmulated annealing and backtracking to solve the puzzle.</p>
                 <button onclick="location.href='https://drive.google.com/file/d/1EdsxtQfss5Kqo8oHVK1he_NuQ-T3v50c/view?usp=sharing'" class="button" type="button" id="Button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                   Go to Project
                 </button>
               </div>
               </div>
            </td>
            <td>
              <div class="card">
                <div class="card-header">
                  <div class="cetner">
                    <img src="https://cdn.educba.com/academy/wp-content/uploads/2019/09/What-is-Genetic-Algorithm.png" height="75px" />
                  </div>
                </div>
                <div class="card-body">
                  <h3>Genetic Algo</h3>
                  <p class="main">This project we used a genetic algorithm to generate a population with the best fitness.</p>
                  <button onclick="location.href='https://drive.google.com/drive/folders/1d6HfsGG-sTn0XDJa4uHcy3kLSDlNdAxy?usp=sharing'" class="button" type="button" id="Button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                    Go to Project
                  </button>
                </div>
                </div>
             </td>




          </tr>
        </tbody>
      </table>
    </div>

  <footer>
    <a href="https://www.linkedin.com/in/matt-ceriello-ba0390222">&gt; <img style="display: block; margin-left: auto; margin-right: auto;" src="https://media-exp1.licdn.com/dms/image/C4D0BAQGZKGGJ75S72g/company-logo_200_200/0/1629754938156?e=1640822400&v=beta&t=TNbRRLQ6khM-HGwweghsyjsOvRaaTcMCfuVNKkFMa38" alt="Linkedin Profile" height="40px" /> </a>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
